<mat-toolbar color="primary" class="navbar">
  <span class = "gap link" routerLink="/">Recipe Book</span>
  <button mat-button routerLink="/recipes" class="gap link">Recipes</button>
  <button mat-button routerLink="/shopping-list" class="link">Shopping list</button>
  <span class = "filler"></span>
  <button mat-button class="link" [mat-menu-trigger-for]="manageMenu">Manage</button>
  <mat-menu #manageMenu>
    <button mat-menu-item>Save data</button>
    <button mat-menu-item>Fetch data</button>
  </mat-menu>
</mat-toolbar>
