<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput
                 type="text"
                 id="name"
                 formControlName="name" required #nameInput>
        </mat-form-field>
      </mat-card-title>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input matInput
                 type="text"
                 id="imagePath"
                 formControlName="imagePath"
                 required #imagePath>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image
         [src]="imagePath.value"
         alt="{{ nameInput.value }}">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput
                  type="text"
                  id="description"
                  formControlName="description"
                  rows="10"
                  required></textarea>
      </mat-form-field>
      <!--<mat-list>
        <mat-list-item
          *ngFor="let ingredientCtrl of controls; let i = index"
          [formGroupName]="i">
          &lt;!&ndash;{{ ingredient.name }} - {{ ingredient.amount }}&ndash;&gt;
        </mat-list-item>
      </mat-list>-->

      <div formArrayName="ingredients">
        <mat-list>
          <mat-list-item
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i">
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="70">
                <mat-form-field floatLabel="never">
                  <mat-label>Name</mat-label>
                  <input matInput
                         type="text"
                         formControlName="name"
                         required>
                </mat-form-field>
              </div>
              <div fxFlex="20">
                <mat-form-field floatLabel="never">
                  <mat-label>Amount</mat-label>
                  <input matInput
                         type="number"
                         formControlName="amount"
                         required>
                </mat-form-field>
              </div>
              <div fxFlex="10">
                <button mat-flat-button
                        type="button"
                        (click)="onDeleteIngredient(i)"
                        color="warn">X
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button
              type="button"
              (click)="onAddIngredient()"
              color="accent">Add Ingredient
      </button>
      <button mat-flat-button
              type="submit"
              [disabled]="!recipeForm.valid"
              color="accent">Save
      </button>
      <button mat-flat-button
              type="button"
              color="warn"
              (click)="onCancel()">Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!--<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <button mat-flat-button color="primary"
          type="submit"
          class="btn btn-success"
          [disabled]="!recipeForm.valid">Save
  </button>
  <button mat-flat-button color="warn"
    type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput
        type="text"
        id="name"
        formControlName="name" required>
    </mat-form-field>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput
             type="text"
             id="imagePath"
             formControlName="imagePath"
             #imagePath required>
    </mat-form-field>
  </div>
</form>-->
