<form [formGroup]="shoppingListForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Add ingredient</h2>
  <mat-dialog-content class="mat-typography">

    <mat-form-field floatLabel="never" style="margin-right: 15px">
      <mat-label>Name</mat-label>
      <input matInput
             type="text"
             formControlName="name"
             required>
      <mat-error>Must not be empty!</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never">
      <mat-label>Amount</mat-label>
      <input matInput
             type="number"
             formControlName="amount"
             required>
      <mat-error>Must be greater than 0!</mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-dialog-close
      type="submit"
      [disabled]="!shoppingListForm.valid"
      mat-flat-button color="primary">{{ data.editMode ? 'Update' : 'Add' }}</button>
    <button mat-dialog-close type="button" mat-flat-button color="warn">Cancel</button>
  </mat-dialog-actions>
</form>
